body {
	background-color: #009EE2;
	color: white;
	width: 100%;
	height: 100%;
}

.header {

	 width: 95%;
	 height: 10%;
}

.header img {
	float: left;
	margin-right: 10px;
}

.title
{
	 font-family: Century Gothic, sans-serif;
    font-size: 36px;
    margin: 5px;
    padding: 2px;
}

.clock
{
  color: rgb(30,30,30);
  font-size: 22px;
  font-family: Century Gothic, sans-serif;

  margin-right: 5px;
  margin-top: 5px;

}

.view {
   width: 95%;
	 height: 95%;
}

.active {
	 background-color: #F69739;
}

.debug
{
  z-index: 50;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 5%;
  left: 60%;
  opacity: .7;
  color: white;
  font-size: 75%;
  font-family: "Lucida Console", monospace;
  background: #202020;
  display: none;
}

.info
{
	z-index: 100;
	position: absolute;
	left: 5px;
	top: 5px;
	opacity: .75;
}

.controls
{
	 width: 100%;
	 height: 50%;
	 font-size: 24px;
}

.controls label {
	font-size: 22px;
}
.options input {
	background-color: Transparent;
	border: none;
	outline:none;
	width: 3em;
	font-size: 28px;
}

.distribution label {
   font-size: 18px;
}

.distribution input {
   width: 3em;
}

.distribution input:checked {
   background-color: #00AA63
}


.temperature
{
	font-size: 400%;
}

.temphistorygraph
{
	 width: 90%;
	 /* height: 100%;*/
	 margin-top: 20px;
	 margin-left: 10px;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #D0111A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #D0111A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label {
   font-family: Century Gothic, sans-serif;
   font-size: 18px;
   margin: 3px;
}

select {
   font-family: Century Gothic, sans-serif;
   font-size: 12px;
   outline-color: black;
   outline-style: solid;
   outline-width: 3px;
   margin: 3px;
}

input {
   font-family: Century Gothic, sans-serif;
   font-size: 24px;
   outline-color: black;
   outline-style: solid;
   outline-width: 2px;
   margin: 3px;
}
